<div class = "background">
    <div class="row">
        <div class = "card panel">
            <div class="card-header text-center">
                Login
            </div>
            <form method="post">
                <div class="card-body">
                    <div class = "row">
                        <div class ="col">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
                        </div>
                    </div>
                    
                    <div class="mx-auto mt-4">

                        <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
                            Login failed
                        </div>

                        <button type="submit" class="btn btn-primary btn-block w-100" (click)="login()">Login</button>
                        <a [routerLink]="['/registration']">Don't have an account - Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

