<div class="container">
    <h1>Product Edit</h1>
    <form method="post">
        <div class="row">
            <div class="col-lg-7">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" id="name" [(ngModel)]="name" name="name">
                </div>

                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="number" id="price" [(ngModel)]="price" name="price">
                    <span class="input-group-text">$</span>
                </div>

                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input class="form-control" type="number" id="quantity" [(ngModel)]="quantity" name="quantity">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" type="text" aria-label="Default select example" [(ngModel)]="category"
                        name="category">
                        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="5" [(ngModel)]="description"
                        name="description"></textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row mt-4 ms-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <img [src]="base64Data" class="img" alt="Image preview place is here...">
                            </div>
                            <div class="mb-3">
                                <label for="picture" class="form-label">Picture</label>
                                <input class="form-control" type="file" accept="image/*" id="picture" label
                                    (change)="onFileChanged($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 ms-2">
                    <button type="submit" class="btn btn-primary" (click)="updateProduct()">Edit</button>
                    <button class="btn btn-secondary mt-1" (click)="navigateBack()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>