<div class="container content">
    <h1>Product List - ADMIN</h1>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of (products)">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}} $</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" routerLink="/product-create">New Product</button>
</div>