<div class="container content">
    <h1>Product List - ADMIN</h1>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Iphone 12</td>
                <td>Phone</td>
                <td>2</td>
                <td>2000 $</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Iphone 13</td>
                <td>Phone</td>
                <td>2</td>
                <td>2000 $</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Iphone 14</td>
                <td>Phone</td>
                <td>2</td>
                <td>2000 $</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" routerLink="/product-create">New Product</button>
</div>