<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">eWebshop</a>
        <ul class="navbar-nav" *ngIf="this.username">
            <li class="nav-item me-auto">
                <a class="nav-link" [routerLink]="['/product-list']">Products</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent" *ngIf="this.username">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        data-bs-target="#dropdownContent" aria-expanded="false">
                        Profile management
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" id="dropdownContent">
                        <li><a class="dropdown-item" [routerLink]="['/profile']">Profile</a></li>
                        <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn-outline-success" type="button" [routerLink]="['/cart']">Cart</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>