<div class = "background">
    <div class="row">
        <div class = "card w-25 panel">
            <div class="card-header text-center">
                Registration
            </div>
            <form>
                <div class="card-body">
                    <div class = "row">
                        <div class ="col">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phone">
                        </div>
                    </div>
                    <div class = "row">
                        <div class ="col">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="mx-auto mt-4">
                        <button class="btn btn-primary btn-block w-100">Registrate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
