<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>Username :</p>
                <span>{{user?.username}}</span>
                <p>Email :</p>
                <span>{{user?.email}}</span>
                <p>Phone number :</p>
                <span>{{user?.phoneNumber}}</span>
                <p>Address :</p>
                <span>{{user?.address}}</span>
            </div>

            <div class="col-lg-6">
                <table>
                    <thead>
                        <th></th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
