<div class="container mt-3">
    <h1>Category create</h1>
    <form method="post">
        <div class="row mt-2">
            <div class="col">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" id="name" [(ngModel)]="name" name="name">
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                    <button type="submit" class="btn btn-primary" (click)="createCategory()">Create</button>
                    <button class="btn btn-secondary ms-1" (click)="navigateBack()">Cancel</button>
            </div>
        </div>
    </form>
</div>
