.table-responsive {
    height: 450px;
    overflow: auto;
}

.card {
    height: 700px;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
}

.empty{
    height: 200px;
    margin: auto;
    margin-top: 220px;
    width: 400px;
    padding: 25px;
    text-align: center;
}

.totalPrice{
    margin: 0;
}